 {{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-md-8">
            <img src="assets/img/foto.jpg" class="img-thumbnail" />
        </div>

        <div class="col-md-4">
            
        </div>
    </div>

    {{> footer }}